# the init env to start in. assumes dev|stage|prod
INIT_ENV="dev"

# to support changing dynamic env vars on the fly, we prefix each var with the env.
# ALL env vars go in this file with a prefix!!!

DEV_HOME_MSG="Welcome to the Home screen in the dev env"
STAGE_HOME_MSG="Welcome to the Home screen in the stage env"
PROD_HOME_MSG="Welcome to the Home screen in the prod env"

DEV_API_URL="https://dev"
STAGE_API_URL="https://stage"
PROD_API_URL="https://prod"
